<link href="{{ static_url('css/bootstrap-fileinput/fileinput.min.css') }}"
      media="all" rel="stylesheet" type="text/css"/>
<script src="{{ static_url('js/bootstrap-fileinput/fileinput.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap-fileinput/theme.js') }}"></script>
<script src="{{ static_url('js/bootstrap-fileinput/zh.js') }}"></script>

<div class="file-loading">
    <input id="file-0a" type="file" name="file-upload">
</div>

<script src="{{ static_url('js/file-upload/file-upload.js') }}"></script>